@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 60%;
  margin: auto;
}

/* NAVBAR */
nav {
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

nav .container {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 24px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.7rem;
  text-decoration: none;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  transition: 0.15s ease-in-out;
}

nav li a:hover {
  color: #333;
}

nav li .active {
  color: #333;
  font-weight: 700;
}

/* Body of content */
.contentContainer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* SIDEBAR */
aside {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-wrap: wrap;
  max-width: 220px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}

aside p {
  font-size: 14px;
  padding-left: 20px;
}

aside .profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}

aside .profile img {
  width: 126px;
  border-radius: 50%;
  margin-bottom: 20px;
}

aside .profile p {
  padding: 0 20px;
  line-height: 1.3rem;
}

aside .latestPosts a {
  display: block;
  padding: 15px 20px 0px;
  font-size: 14px;
  color: #aaa;
}
aside .latestPosts a:hover {
  color: #333;
}

aside .socialIcons {
  padding: 20px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
aside .socialIcons img {
  width: 20px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

aside > p {
  color: #aaa;
  margin-bottom: 20px;
}

.aboutContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.aboutContent h1 {
  font-size: 2.2rem;
  font-weight: 300;
  color: #333;
  padding-bottom: 1rem;
}

.aboutContent p {
  font-size: 14px;
  font-weight: 300;
  color: #333;
  line-height: 1.5rem;
  padding-bottom: 20px;
}

.aboutContent h2 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 20px;
}

.aboutContent button {
  background-color: #888;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s ease;
}

.aboutContent button:hover {
  background-color: #333;
}

.aboutContent button a {
  text-decoration: none;
  color: #fff;
}
