*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f0f0f0;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  width: 62.5%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
}

.nav {
  background-color: #fff;
  border-bottom: 2px solid rgba(170, 170, 170, 0.2);
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
}
.nav__container {
  width: 62.5%;
  margin: 0 auto;
  padding: 1.8rem 0;
  display: flex;
  align-items: center;
}
.nav__logo {
  color: #333;
  font-size: 2.4rem;
  font-weight: 400;
  margin-right: auto;
}
.nav__links {
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
}
.nav__link {
  list-style: none;
  transition: all 0.3s;
}
.nav__link a {
  text-decoration: none;
  color: inherit;
}
.nav__link a:hover {
  color: #333;
}
.nav__link--active {
  color: #333;
}

.layout__side {
  background-color: #fff;
  color: #333;
  padding: 2rem;
  border: 1px solid rgba(170, 170, 170, 0.4);
  border-radius: 7px;
  grid-column: 1/2;
  overflow: hidden;
  align-self: flex-start;
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 2rem;
}

.side__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 1.5rem;
}
.side__info-img {
  width: 12.6rem;
  height: 12.6rem;
  border-radius: 50%;
  margin: 0 auto 0;
}
.side__info-paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.side__info::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.5px;
  background-color: rgba(170, 170, 170, 0.5);
}

.side__links {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 1.5rem;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.side__links-link {
  display: block;
  text-decoration: none;
  color: #888;
  transition: all 0.2s;
}
.side__links-link:hover {
  color: #333;
}
.side__links::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.5px;
  background-color: rgba(170, 170, 170, 0.5);
}

.side__social {
  color: #aaa;
  display: grid;
  grid-template-columns: repeat(5, 2rem);
  column-gap: 1.3rem;
  row-gap: 0.5rem;
}
.side__social-logo {
  text-decoration: none;
}
.side__social-logo img {
  width: 2rem;
  height: 2rem;
}
.side__social-paragraph {
  grid-column: 1/-1;
  grid-row: 2/span 1;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.side__social-paragraph a {
  text-decoration: none;
  color: inherit;
}
.side__social-paragraph a:hover {
  color: #333;
}

.post {
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(170, 170, 170, 0.4);
  width: 100%;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.post__content-container {
  display: flex;
  flex-direction: column;
}
.post__img {
  width: 19.6rem;
  height: 18rem;
  object-fit: cover;
  object-position: top;
  border-radius: 3px;
  margin-right: 2rem;
}
.post__h1 {
  color: inherit;
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.1;
  transition: all 0.3s;
}
.post__h1:hover {
  color: #888;
}
.post__info {
  margin: 8px 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.post__info span {
  color: #aaa;
}
.post__info-cat {
  text-decoration: none;
  color: #aaa;
  transition: all 0.3s;
}
.post__info-cat:hover {
  color: #333;
}
.post__content {
  font-weight: 400;
  font-size: 1.4rem;
  color: #aaa;
}
.post__content-paragraph {
  display: inline;
}
.post__content-more {
  color: currentColor;
  transition: all 0.3s;
}
.post__content-more:hover {
  color: #333;
}

.layout__posts {
  grid-column: 2/-1;
  height: 100px;
  display: grid;
  gap: 3rem;
  height: 100%;
}

.layout__btn {
  grid-column: 2/span 1;
}

.btn, .btn:link, .btn:visited {
  background-color: #888;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  padding: 1.2rem 2rem;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  background-color: #333;
}

/*# sourceMappingURL=style.css.map */
