*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f0f0f0;
  font-weight: 300;
  line-height: 1.6;
  padding-bottom: 3rem;
  position: relative;
}

::selection {
  color: #fff;
  background: #333;
}

.container {
  width: 96rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 3fr;
  grid-template-rows: max-content minmax(min-content, auto);
  gap: 3rem;
}
@media only screen and (max-width: 62.5em) {
  .container {
    margin: 2rem auto;
    gap: 2rem;
  }
}
@media only screen and (max-width: 53.12em) {
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nav {
  background-color: #fff;
  border-bottom: 2px solid rgba(170, 170, 170, 0.2);
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
}
.nav__container {
  width: 96rem;
  margin: 0 auto;
  padding: 1.8rem 0;
  position: relative;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 53.12em) {
  .nav__container {
    width: 80%;
  }
}
.nav__logo {
  color: #333;
  font-size: 2.4rem;
  font-weight: 400;
  margin-right: auto;
}
.nav__links {
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
}
@media only screen and (max-width: 53.12em) {
  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #fff;
    border-left: 2px solid rgba(170, 170, 170, 0.2);
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
  }
}
.nav__link {
  list-style: none;
  transition: all 0.3s;
}
.nav__link a {
  text-decoration: none;
  color: inherit;
}
.nav__link a:hover {
  color: #333;
}
@media only screen and (max-width: 53.12em) {
  .nav__link a {
    padding: 10px;
  }
}
.nav__link--active {
  color: #333;
}
@media only screen and (max-width: 53.12em) {
  .nav__link {
    margin-top: 40px;
  }
}
.nav__toggle-close, .nav__toggle-open {
  position: absolute;
  display: none;
}
@media only screen and (max-width: 53.12em) {
  .nav__toggle-close, .nav__toggle-open {
    display: block;
  }
}
.nav__toggle-open {
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.nav__hamburger {
  width: 2rem;
  height: 2rem;
}
.nav__toggle-close {
  top: 1rem;
  right: 10%;
  font-size: 4rem;
}
.nav #checkbox {
  display: none;
}
.nav #checkbox:checked ~ .nav__links {
  right: 0;
}

.side {
  background-color: #fff;
  color: #333;
  padding: 2rem;
  border: 1px solid rgba(170, 170, 170, 0.4);
  border-radius: 7px;
  grid-column: 1;
  overflow: hidden;
  align-self: flex-start;
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 2rem;
}
@media only screen and (max-width: 53.12em) {
  .side {
    order: 3;
  }
}
.side__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 1.5rem;
}
.side__info-img {
  width: 12.6rem;
  height: 12.6rem;
  border-radius: 50%;
  margin: 0 auto 0;
}
@media only screen and (max-width: 53.12em) {
  .side__info-img {
    width: 24.6rem;
    height: 24.6rem;
    margin-bottom: 1rem;
  }
}
.side__info-paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
@media only screen and (max-width: 53.12em) {
  .side__info-paragraph {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
}
.side__info::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.5px;
  background-color: rgba(170, 170, 170, 0.5);
}
.side__links {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 1.5rem;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
@media only screen and (max-width: 53.12em) {
  .side__links {
    font-size: 1.8rem;
  }
}
.side__links-link {
  display: block;
  text-decoration: none;
  color: #888;
  transition: all 0.2s;
}
.side__links-link:hover {
  color: #333;
}
.side__links::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.5px;
  background-color: rgba(170, 170, 170, 0.5);
}
@media only screen and (max-width: 53.12em) {
  .side__links::after {
    margin: 1rem 0;
  }
}
.side__social {
  color: #aaa;
  display: grid;
  grid-template-columns: repeat(5, 2rem);
  column-gap: 1.3rem;
  row-gap: 0.5rem;
}
@media only screen and (max-width: 53.12em) {
  .side__social {
    grid-template-columns: repeat(5, minmax(4rem, 100%));
    row-gap: 3rem;
  }
}
.side__social-logo {
  text-decoration: none;
  opacity: 0.3;
  transition: all 0.3s;
}
.side__social-logo img {
  width: 2rem;
  height: 2rem;
}
@media only screen and (max-width: 53.12em) {
  .side__social-logo img {
    width: 3rem;
    height: 3rem;
  }
}
.side__social-logo:hover {
  opacity: 1;
  transform: translateY(-3px);
}
.side__social-paragraph {
  grid-column: 1/-1;
  grid-row: 2/span 1;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
@media only screen and (max-width: 53.12em) {
  .side__social-paragraph {
    justify-self: center;
    font-size: 1.2rem;
  }
}
.side__social-paragraph a {
  text-decoration: none;
  color: inherit;
}
.side__social-paragraph a:hover {
  color: #333;
}

.post {
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(170, 170, 170, 0.4);
  max-width: 100%;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media only screen and (max-width: 53.12em) {
  .post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.post__content-container {
  display: flex;
  flex-direction: column;
}
.post__img {
  width: 19.6rem;
  height: 18rem;
  object-fit: cover;
  object-position: top;
  border-radius: 3px;
  margin-right: 2rem;
}
@media only screen and (max-width: 53.12em) {
  .post__img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
.post__h1 {
  color: inherit;
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.1;
  transition: all 0.3s;
}
.post__h1:hover {
  color: #888;
}
@media only screen and (max-width: 53.12em) {
  .post__h1 {
    font-size: 3.5rem;
  }
}
.post__info {
  margin: 8px 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 53.12em) {
  .post__info {
    font-size: 1.4rem;
  }
}
.post__info span {
  color: #aaa;
}
.post__info-cat {
  text-decoration: none;
  color: #aaa;
  transition: all 0.3s;
}
.post__info-cat:hover {
  color: #333;
}
.post__content {
  font-weight: 400;
  font-size: 1.4rem;
  color: #aaa;
}
@media only screen and (max-width: 53.12em) {
  .post__content {
    font-size: 1.8rem;
  }
}
.post__content-paragraph {
  display: inline;
}
.post__content-more {
  color: currentColor;
  transition: all 0.3s;
}
.post__content-more:hover {
  color: #333;
}

.layout__posts {
  grid-column: 2/-1;
  display: grid;
  gap: 3rem;
  height: 100%;
}
@media only screen and (max-width: 62.5em) {
  .layout__posts {
    gap: 2rem;
  }
}

.layout__btn {
  grid-column: 2/span 1;
}

.about {
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(170, 170, 170, 0.4);
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.about__h2 {
  font-size: 3.6rem;
  font-weight: 400;
}
.about__paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.about__h3 {
  font-size: 2.4rem;
  font-weight: 400;
}

.contact {
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(170, 170, 170, 0.4);
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
}
.contact__h2 {
  font-size: 3.6rem;
  font-weight: 400;
}
@media only screen and (max-width: 53.12em) {
  .contact__h2 {
    font-size: 4rem;
  }
}
.contact__paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 53.12em) {
  .contact__paragraph {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }
}
.contact__form label {
  font-size: 1.4rem;
  font-weight: 700;
}
@media only screen and (max-width: 53.12em) {
  .contact__form label {
    font-size: 1.8rem;
  }
}
.contact__form input,
.contact__form textarea {
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 400;
  color: #333;
  width: 100%;
  padding: 1rem;
  margin: 0.2rem 0 1.4rem 0;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}
@media only screen and (max-width: 53.12em) {
  .contact__form input,
  .contact__form textarea {
    font-size: 1.8rem;
    padding: 1.4rem;
    margin: 0.2rem 0 1.4rem 0;
  }
}
.contact__form input:focus,
.contact__form textarea:focus {
  outline: none;
  border: 1px solid #333;
}
.contact__form input::placeholder,
.contact__form textarea::placeholder {
  color: #aaa;
}
.contact__form-message {
  height: 10rem;
}
@media only screen and (max-width: 53.12em) {
  .contact__form-message {
    height: 15rem;
  }
}

.all-post {
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(170, 170, 170, 0.4);
  padding: 0.5rem 2rem;
  border-radius: 7px;
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
  align-self: flex-start;
}
.all-post__h2 {
  font-size: 3.6rem;
  font-weight: 400;
}

.page__post {
  grid-column: 2/-1;
  display: grid;
  gap: 3rem;
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(170, 170, 170, 0.4);
  border-radius: 7px;
  box-shadow: 0 1px 1rem rgba(51, 51, 51, 0.05);
  overflow: hidden;
}
.page__post-img {
  width: 100%;
  height: 29rem;
  object-fit: cover;
}
.page__post-container {
  padding: 0 2rem 2rem 2rem;
}
.page__post-h2 {
  font-size: 3.6rem;
  font-weight: 400;
  margin-top: -1.6rem;
  line-height: 1.1;
}
.page__post-h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
  line-height: 1.1;
}
.page__post-h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.1;
}
.page__post-p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.page__post-link {
  color: #24a7ff;
}
.page__post-ol, .page__post-ul {
  margin-bottom: 2rem;
  margin-left: 4rem;
}
.page__post-li {
  font-size: 1.4rem;
  font-weight: 400;
}
.page__post-info {
  margin: 16px 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.page__post-info span {
  color: #aaa;
}
.page__post-info-cat {
  text-decoration: none;
  color: #aaa;
  transition: all 0.3s;
}
.page__post-info-cat:hover {
  color: #333;
}
.page__post-info::after {
  content: "";
  display: block;
  width: 15%;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.3);
  margin-top: 2rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  background-color: #888;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  padding: 1.2rem 2rem;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 53.12em) {
  .btn, .btn:link, .btn:visited {
    font-size: 2.4rem;
  }
}
.btn:hover {
  background-color: #333;
}

/*# sourceMappingURL=style.css.map */
