// Variebles
$color-primary-white: #fff;
$color-primary-light: #f0f0f0;
$color-primary-light-2: #aaa;
$color-primary-light-3: #888;
$color-primary-dark: #333;

// $container-width: 62.5%;
$container-width: 96rem;

$shadow: 0 1px 1rem rgba($color-primary-dark, 0.05);

// RESPONSIVE BREAKPOINTS
$bp-large: 62.5em;
$bp-medium: 53.12em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: $color-primary-light;
  font-weight: 300;
  line-height: 1.6;
  padding-bottom: 3rem;
}

.container {
  width: $container-width;
  margin: 3rem auto;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;

  @media only screen and (max-width: $bp-large) {
    margin: 2rem auto;
    gap: 2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
