// Variebles
$color-primary-white: #fff;
$color-primary-light: #f0f0f0;
$color-primary-light-2: #aaa;
$color-primary-light-3: #888;
$color-primary-dark: #333;

$container-width: 62.5%;

$shadow: 0 1px 1rem rgba($color-primary-dark, 0.01);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 1200px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 37.5%;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: $color-primary-light;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  width: $container-width;
  margin: 3rem auto;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
}
