.darkmode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

.darkmode-btn {
  position: fixed;
  top: 10rem;
  right: 2rem;

  background-color: $color-primary-white;
  padding: 1rem 1.4rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: $shadow;
}
