.layout__posts {
  grid-column: 2 / -1;
  height: 100px;

  display: grid;
  gap: 3rem;

  @media only screen and (max-width: $bp-large) {
    gap: 2rem;
  }

  height: 100%;
}

.layout__btn {
  grid-column: 2 / span 1;
}
